.chat-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 10px;
    top: 10vh;
    width: 50vw;
    height: 90vh;

    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;;  
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

.chat-header {
    padding: 15px 20px;
    background: linear-gradient(90deg, #63b9d8, #676f6c 60%);
    border-bottom: 1px solid #e0e0e0;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
}

.chat-header__title { font-weight: 600; }

.messages-container{
    flex-grow: 0;
    overflow-y: scroll;
    padding: 15px 20px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 15px;
    max-width: 80%;
    word-wrap: break-word;
    font-size: 0.95em;
    line-height: 1.4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.user-message {
    align-self: flex-end;
    background: #e0f7fa;/*linear-gradient(180deg, #0ea5a3, #0b9a97);*/
    color: #212121;
}

.bot-message {
    align-self: flex-start;
    background: #f1f1f1 /*linear-gradient(180deg, #ffffff, #f3f4f6);*/
    color: #333;
}

.sender-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.timestamp {
    font-size: 0.75em;
    color: #757575;
    margin-left: 10px;
    white-space: nowrap;
}

.chat-input-area {
    display: flex;
    padding: 15px 20px;
    border-top: 1px solid #e0e0e0;
    background-color: #f5f5f5;
    align-items: center
}

.chat-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1em;
  margin-right: 10px;
  outline: none;
}

.chat-input.focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

